.background-container {
    background-image: url('#{$img-path}/bg-counter.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    z-index: -10;
}
