@font-face {
    font-family: 'Resagokr';
    src: url('../fonts/Resagokr.otf') format('opentype');
}

@font-face {
    font-family: 'ResagokrBold';
    src: url('../fonts/ResagokrBold.otf') format('opentype');
}

@font-face {
    font-family: 'ResagokrLight';
    src: url('../fonts/ResagokrLight.otf') format('opentype');
}
