.logo-container {
    padding: 30px 0;

    @include min-screen($desktop) {
        padding: 60px;
    }
}

.infobox {
    position: relative;
    text-align: center;
    color: $almost-black;
    min-height: 140px;
    margin: 30px 0;

    @include min-screen($tablet) {
        margin: 0;
    }
}

.infobox__inner {
    width: 100%;

    @include min-screen($tablet) {
        @include vertical-align();
    }
}

.infobox__headline {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;

    @include min-screen($tablet) {
        font-size: 40px;
    }

    @include min-screen($desktop) {
        font-weight: $base-font-weight;
        font-size: 40px;
    }

    @include min-screen($desktop-wide) {
        font-weight: $base-font-weight;
        font-size: 72px;
    }
}

.infobox__body {
    font-size: 20px;

    @include min-screen($desktop) {
        font-size: 23px;
    }

    @include min-screen($desktop) {
        font-size: 30px;
    }
}

.infobox__counter {
    visibility: hidden;
    min-height: 80px;
}

.timer {
    text-align: center;
    position: relative;
}

.timer-value {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;

    &:after {
        content: ':';
        position: absolute;
        font-size: 35px;
        top: 5px;
        right: -5px;
    }
}

.timer-value--last {
    &:after {
        content: '';
    }
}

.timer__period {
    font-size: 18px;

    @include min-screen($desktop-wide) {
        font-size: 20px;
        font-weight: 700;
    }
}

.cover-box {
    padding: 10px;

    img {
        box-shadow: 0px 0px 20px $black;
    }
}

.social__link {
    img {
        width: 100%;
        max-width: 30px;
        display: block;
        margin: 0 auto;
    }
}

.counter__footer {
    padding: 25px;
}

.footer__headline {
    @include min-screen($desktop-wide) {
        font-size: 20px;
    }
}
