.logo-container {
    padding: 30px 0;
    @include min-screen($desktop) {
        padding: 60px;
    }
}

.infobox {
    text-align: center;
    color: $almost-black;
}

.infobox__headline {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;

    @include min-screen($tablet) {
        font-size: 40px;
    }

    @include min-screen($desktop) {
        font-weight: $base-font-weight;
        font-size: 40px;
    }
}

.infobox__counter {
    visibility: hidden;
}

.timer {
    text-align: center;
}

.timer-value {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;

    &:after {
        content: ':';
        position: absolute;
        font-size: 35px;
        top: 5px;
        right: -50%;
    }
}

.timer-value--last {
    &:after {
        content: '';
    }
}

.cover-box {
    padding: 10px;

    img {
        box-shadow: 0px 0px 20px $black;
    }
}
